body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.color-rojo{
    color:#F54021
}
.tipografia{
    font-size: 53px
}
.comprar{
border-radius: 62px;
background-color:RGB(30, 144, 255);
padding: 10px 25px;
 color: seashell;
}
.flecha{
    color:RGB(30, 144, 255) ;
    text-decoration: none;
    ;
}
.ordenador {
    text-align: center;
}
nav {
     
    background-color:rgba(0, 0, 0, 0.8);
    height: 50px;
    font-size: 12px;
    color:gainsboro;
    width: 100%;
    
} 
nav ul{
    display: flex;
   list-style: none;
    
}  
nav li{
    width: 14%;
} 
    
.meses {
    display: inline-block;
}

.anchura-dinamica {
    width: 90%;
    text-align: center;
    padding: 65px;
}
.contenedorImagen img {
    width: 100%
}
#segundaImagen {
    width: 400px ;
    text-align: center;
    position: relative;
    left: 160px;
}
#primeraVentana{
    background-color: rgb(242, 242, 242);
    margin-right: 20px;
}
#segundaVentana{
    width: 100px; 
    background-color: rgb(242, 242, 242);
    text-align: center;
}
#dobleVentana > div {
    display: inline-block;
    width: 49%;
}
.ver{border-radius: 62px;
    background-color:RGB(30, 144, 255);
    padding: 10px 25px;
     color: seashell;
     margin: 0px 318px;
     margin-bottom: 17px
    }
    .calcular{
        color: RGB(30, 144, 255);
        border: none;}
        .frases{
            font-size: 40px;
        }
        .caja{margin-top: 63px;}
#envioImagen{ text-align: center;}
h4{
    text-align: center;
}
h2{
    text-align: center;
}
p{
    text-align: center;
}
footer{
    background-color: rgb(245, 245, 247);
    color: rgb(81, 81, 84);
   
    
}
